<div no-padding class="control-header">
  <button m-ripple-effect class="expand-button" (click)="toggleControls()" [ngClass]="{active: viewState?.showControls}">
    <div class="button-inner">
      <p ion-text color="dark">{{ _group?.properties?.displayName }}</p>
      <ion-icon color="primary" [name]="viewState?.showControlsIcon"></ion-icon>
    </div>
  </button>
</div>
<div *ngIf="viewState?.showControls && groupCore.controllers.length > 0" class="control-content">
  <div *ngFor="let m of groupCore.controllers; let i = index;">
    <ui-component (exoChange)="groupCore.send($event)" [(ngModel)]="groupCore.status" [model]="m" color="primary"></ui-component>
    <div *ngIf="i < groupCore.controllers.length - 1" class="control-item-divider"></div>
  </div>
</div>
<div *ngIf="viewState?.showControls && groupCore.controllers.length <= 0" class="control-content">
  <p ion-text color="warmGrey">{{ 'GROUP_CONTROL_PANEL.NO_CONTROLS' | translate }}</p>
</div>
<button ion-button full *ngIf="viewState?.showControls" class="popit-expand-button" color="primary" (click)="toggleControls()">
  {{ 'GROUP_CONTROL_PANEL.CLOSE' | translate }}
</button>
