<ion-header no-border>
  <ion-toolbar color="white">
    <!-- <ion-title>步驟一>[步驟二]>步驟三</ion-title> -->
    <img class="title-pic" src="assets/img/step2.png">
    <ion-buttons end>
      <button ion-button icon-only (click)="closePage()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="main">
      <h1 align="center">{{ 'DEVICE_CREATE.CONNECT_TO_DEVICE' | translate }}</h1>
      <img *ngIf="!canContinue" class="wifi-pic" src="assets/img/wifi_pic.jpg">
      <img *ngIf="!canContinue" class="wifi-pic" src="assets/img/wifi_setting.jpg">
      <p *ngIf="!canContinue" align="center"
        [innerHTML]="'DEVICE_CREATE.HOW_TO_BEGIN' | translate: { productName: themeService.productName, wifiName: themeService.wifiName }">
      </p>
      <p *ngIf="canContinue" align="center"
        [innerHTML]="'DEVICE_CREATE.HOW_TO_BEGIN2' | translate: { productName: themeService.productName, wifiName: themeService.wifiName }">
      </p>
      <button ion-button color="primary" class="full-button" full round (click)="nativeSettings.open('wifi')"
        margin-vertical>
        {{ 'DEVICE_CREATE.GO_TO_SETTINGS' | translate }}
      </button>
      <p *ngIf="!canContinue" align="center" [innerHTML]="'DEVICE_CREATE.AFTER_SETTINGS' | translate: { productName: '雲師父' }">
      </p>
      <p *ngIf="canContinue" align="center" [innerHTML]="'DEVICE_CREATE.AFTER_SETTINGS2' | translate: { productName: (appName | async) }">
      </p>
    </div>
    <div>
      <button ion-button color="primary" class="bottom-button full-button" [disabled]="!canContinue" (click)="onNext()"
        full>
        <ion-spinner *ngIf="!canContinue"></ion-spinner>
        {{ 'DEVICE_CREATE.CONTINUE' | translate }}
      </button>
    </div>
  </div>
  <extra-page-space></extra-page-space>
</ion-content>