page-settings {
  .page-spaces {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
    position:relative;
    height: 100%;
    .footer {
      position:absolute;
      bottom:0px; 
      h1 {
        font-weight: 700;
      }      
    }
  }

  .section-text {
    font-size: 1.4rem;
    font-weight: 900;
    width: 100%;

    &:not(:first-child) {
      margin-top: 36px;
    }
  }

  .text-icon {
    font-size: 1.8rem;
    right: 15px;
    position: relative;
  }
}
