page-ota-service {
  .scroll-content {
    padding: 0px 8px 8px 8px;
  }
  .container {
    border-radius: 5px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    background: map-get($colors, lightGrey);
    .main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      align-items: center;
      justify-content: flex-start;
      padding: 12px;
      .hint {
        max-height: 100px;
        margin: 8px;
      }
    }
    .bottom-button {
      margin: 0;
      border-radius: 0 0 5px 5px;
    }
  }
  .item-md,
  .item-ios {
    padding-left: 0;
  }
}
