scrollable-tabs {
  $tabs-height: 50px;
  @keyframes ripple {
    0% {
      opacity: 1;
      transform: scale(0, 0);
    }
    20% {
      opacity: 1;
      transform: scale(25, 25);
    }
    100% {
      opacity: 0;
      transform: scale(40, 40);
    }
  }

  .nav {
    box-shadow: 0 5px 5px 0 #d2d2d2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 3;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      span {
        display: block;
        padding: 10px 15px;
        position: relative;
      }
    }
  }

  .nav-tabs {
    background-color: color($colors, primary);
    height: $tabs-height;
    flex: 0 0 $tabs-height;

    li {
      line-height: $tabs-height - 14px;
      max-height: $tabs-height;
      min-width: 150px;
      width: calc((50rem - 100%) * 1000);
      max-width: 60%;

      &:first-child {
        min-width: 100px;
      }

      span {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 700;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;

        overflow: hidden;
        position: relative;
        &::after {
          background: rgba(255, 255, 255, .5);
          border-radius: 100%;
          content: '';
          height: 5px;
          left: 50%;
          opacity: 0;
          position: absolute;
          top: 50%;
          transform: scale(1, 1);
          width: 5px;
        }
      }

      &.active {
        span {
          background-color: color($colors, secondary);
          border-bottom: 4px solid #FFFFFF;
          cursor: default;
          font-weight: 900;
          z-index: 3;

          &:after {
            animation: ripple 1s ease-out;
          }
        }
      }
    }
  }
}
